<div class="sidebar">
  <div class="sidebar-header">
    <div class="brand">
      <i class="fa fa-university" aria-hidden="true"></i>

      <span>Unive</span>
    </div>
    <span class="ti-menu-alt"></span>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li class="active">
        <a href="">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-i-cursor" aria-hidden="true"></i>

          <span>Course</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-mars" aria-hidden="true"></i>

          <span>Material</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-calendar" aria-hidden="true"></i>

          <span>Calendar</span>
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-tripadvisor" aria-hidden="true"></i>

          <span>Transcripts</span>
        </a>
      </li>




      <li>
        <a href="">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <span>Grades</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-paperclip" aria-hidden="true"></i>

          <span>Attendence</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          <span>Setting</span>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <div class="search-wrapper">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="search" placeholder="Search">
    </div>
    <div class="social-icons">
      <span><i class="fa fa-commenting-o" aria-hidden="true"></i>
      </span>
      <span><i class="fa fa-bell-o" aria-hidden="true"></i></span>
      <div>
      </div>
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

    </div>
  </header>
  <main>
    <div class="page-content">
      <section>
        <h2 class="dash-title">Hello Mia!</h2>
        <div class="section-1-wrapper">
          <div class="program-head">
            <p class="head-info">Active Program</p>
            <span>...</span>
          </div>
          <div class="program-card">
            <img src="../assets/design2.jpg" alt="img">
            <div class="program-btn-grp">
              <button>Master of computer science</button>
              <p>Unviersity of Upstate<br> at Brookstone</p>

            </div>
            <div class="program-feature">
              <p class="program-feature-head">1</p>
              <p class="program-feature-desc">Reasoning <br>Assigment</p>
            </div>
            <div class="program-feature">
              <p class="program-feature-head">5</p>
              <p class="program-feature-desc">Remaining<br>Absences</p>
            </div>
            <div class="program-feature">
              <p class="program-feature-head">A-</p>
              <p class="program-feature-desc">Academic<br>Average</p>
            </div>
            <div class="program-progress">
              <img src="../assets/nin.png" alt="img">
              <p class="program-progress-desc" style="color: #ccc;">Completion</p>
            </div>
          </div>
          <div class="program-card">
            <img src="../assets/design3.jpg" alt="img">
            <div class="program-btn-grp">
              <button>Master of computer science</button>
              <p>Academy of Art and Technology<br>
                at Dursburg
              </p>

            </div>
            <div class="program-feature">
              <p class="program-feature-head">0</p>
              <p class="program-feature-desc">Overdue<br>
                Assigment
              </p>
            </div>
            <div class="program-feature">
              <p class="program-feature-head">6</p>
              <p class="program-feature-desc">Remaining<br>
                Absenses
              </p>
            </div>
            <div class="program-feature">
              <p class="program-feature-head">--</p>
              <p class="program-feature-desc">Academic<br>
                Average
              </p>
            </div>
            <div class="program-progress">
              <img src="../assets/nin.png" alt="img">
              <p class="program-progress-desc" style="color: #ccc;">Completion</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="section-2-wrapper">
          <div class="card" style="width: 18rem; box-shadow: 7px 7px 14px #d3d3d3, -7px -7px 14px #ededed;
          ;">
            <img src="../assets/ux.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <div class="custom-text">

                <h5 class="card-title">UX Research-Week3</h5>
                <p>CERIFICATE UI/UX DESIGN</p>
              </div>
              <p class="card-text">08 April</p>
            </div>

            <div class="card-body">
              <p><i class="fa fa-clock-o" aria-hidden="true" style="color: red;"></i>Program IN </p>
              <button type="button" class="btn btn-primary">Join Now</button>
            </div>
          </div>
          <div class="recent-payments">
            <div class="title">
              <h2>UpComings Sessions</h2>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <table>
              <tr class="table-head-row">
                <th>Date</th>
                <th>Class</th>
                <th>Time</th>
              </tr>
              <tr class="table-row">
                <td class="schedule">
                  <p class="day">Tomorrow</p>
                  <p class="date">09</p>
                  <p class="month">April</p>
                </td>
                <td class="class-info">
                  <p class="info-head">Database and Information Systems</p>
                  <p class="info-desc">Master of Computer Science</p>
                </td>
                <td class="time-btn"><button type="button"
                    class="btn btn-primary">9:30am-12:00am</button></td>
              </tr>
              <tr class="table-row">
                <td class="schedule">
                  <p class="day">Wed</p>
                  <p class="date">10</p>
                  <p class="month">April</p>
                </td>
                <td class="class-info">
                  <p class="info-head">AI and Machine Learning</p>
                  <p class="info-desc">Master of Computer Science</p>
                </td>
                <td class="time-btn"><button type="button"
                    class="btn btn-primary">9:30am-12:00am</button></td>
              </tr>
              <tr class="table-row">
                <td class="schedule">
                  <p class="day">Wed</p>
                  <p class="date">10</p>
                  <p class="month">April</p>
                </td>
                <td class="class-info">
                  <p class="info-head">Definiation & Idenation</p>
                  <p class="info-desc">Certifcate of UI/UX DESIGN</p>
                </td>
                <td class="time-btn"><button type="button"
                    class="btn btn-primary">9:30am-1:00am</button></td>

              </tr>

            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="messegenger">
      <div class="header-row">
        <img src="../assets/design2.jpg" alt="img">
        <p>Messaging</p>
        <div class="icon-group">
          <i class="fa fa-search" aria-hidden="true"></i>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="people-live">
        <div class="add-people">
          <img src="../assets/add.png" alt="img">
          <p>Add</p>
        </div>
        <div class="profile">
          <img src="../assets/brooke-cagle-BPydhzPfC8I-unsplash.jpg" alt="img">
          <p>Dianne</p>
        </div>
        <div class="profile">
          <img src="../assets/brooke-cagle-ezgW6z6oIvA-unsplash.jpg" alt="img">
          <p>Jarvis</p>
        </div>
        <div class="profile">
          <img src="../assets/harps-joseph-tAvpDE7fXgY-unsplash.jpg" alt="img">
          <p>Miles</p>
        </div>

      </div>
      <div class="messages">
        <div class="message">
          <img src="../assets/brooke-cagle-BPydhzPfC8I-unsplash.jpg" alt="img">
          <div class="text-group">
            <p class="profile-name">Sopile Kowalki</p>
            <p class="message-text">Thanks Mia Please let me Know</p>
          </div>
          <div class="meta-info">
            <p class="message-time">3min</p>
            <p class="message-count">1</p>
          </div>
        </div>
        <div class="message">
          <img src="../assets/jd-chow-gutlccGLXKI-unsplash.jpg" alt="img">
          <div class="text-group">
            <p class="profile-name">Remedly App Group</p>
            <p class="message-text">How about I Start</p>
          </div>
          <div class="meta-info">
            <p class="message-time">15min</p>
            <p class="message-count">1</p>
          </div>
        </div>
        <div class="message">
          <img src="../assets/design3.jpg" alt="img">
          <div class="text-group">
            <p class="profile-name">John Kumarz</p>
            <p class="message-text">Hey Mia Do you Know</p>
          </div>
          <div class="meta-info">
            <p class="message-time">45min</p>

          </div>
        </div>
        <div class="message">
          <img src="../assets/brooke-cagle-BPydhzPfC8I-unsplash.jpg" alt="img">
          <div class="text-group">
            <p class="profile-name">Chris Meinfiled</p>
            <p class="message-text">OK I have her give.</p>
          </div>
          <div class="meta-info">
            <p class="message-time">Yesterday</p>

          </div>
        </div>
        <div class="message">
          <img src="../assets/brooke-cagle-ezgW6z6oIvA-unsplash.jpg" alt="img">
          <div class="text-group">
            <p class="profile-name">Zoe Khan</p>
            <p class="message-text"> Any Chance</p>
          </div>
          <div class="meta-info">
            <p class="message-time">Monday</p>
            <p class="message-count">2</p>
          </div>
        </div>
        <div class="message">
          <img src="../assets/harps-joseph-tAvpDE7fXgY-unsplash.jpg" alt="img">
          <div class="text-group">
            <p class="profile-name">Johan Kon</p>
            <p class="message-text">Sure,no problem</p>
          </div>
          <div class="meta-info">
            <p class="message-time">Tuesday</p>

          </div>
        </div>
      </div>
    </div>

  </main>

</div>
